---
import BreadCumb from "./BreadCumb.astro";
import Drawer from "./Drawer.astro";
import Modal from "./Modal.astro";
---

<div class="navbar bg-base-100">
    <div class="navbar-start">
        <Drawer />
    </div>
    <div class="navbar-center">
        <div>
            <div class="w-full text-center mb-1">
                <a href="/" class="text-xl capitalize">telegpt</a>
            </div>
            <BreadCumb />
        </div>
    </div>
    <div class="navbar-end">
        <Modal />
    </div>
</div>
